@charset "UTF-8";



/*typical device breakpoint
pequenas tela: até 600px
celular:600px até 760px
tablet:768px até 992px
desktop:992px até 1200px
Grandes tela: acima de 1200px

*/

@media screen and (min-width:768px) {

    i#burguer{
        display: none;
        
    }

    menu{
        display: block;
    }

    menu>ul>li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
    
}